name: Build

on:
  workflow_dispatch: {}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up apt and install deps
        run: |
          sudo apt-get update && sudo apt-get -y upgrade
          sudo apt-get -y install pigz gnupg

      - name: Run build
        run: |
          make fetch
          sh -c "./scripts/check-patchfail.sh"
          make test-linux
          # still produce source bundle artifacts
          make all
          make check-fuzz
          echo "VERSION=$(cat version)" >> variables.env
          echo "RELEASE=$(cat release)" >> variables.env
          echo "BUILD_JOB_ID=${{ github.run_id }}" >> variables.env

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: librewolf-build
          path: |
            librewolf-*.tar.xz
            librewolf-*.source.tar.gz
            librewolf-*.source.tar.gz.sha256sum
            librewolf-*.source.tar.gz.sha512sum
            librewolf-*.source.tar.gz.sig
            patchfail-fuzz.out
            variables.env
