name: Build

on:
  workflow_dispatch: {}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 4096
          temp-reserve-mb: 2048
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up apt and install deps
        run: |
          sudo apt-get update
          APT_OPTS="-o APT::Install-Recommends=false -o APT::Install-Suggests=false"
          sudo apt-get $APT_OPTS -y install \
            build-essential autoconf2.13 python3 python3-dev python3-pip \
            curl wget git mercurial zip unzip pkg-config \
            libssl-dev libdbus-1-dev libasound2-dev libglib2.0-dev \
            libgtk-3-dev libx11-dev libxcomposite-dev libxrandr-dev \
            libxrender-dev libxss-dev libxinerama-dev libxt-dev libxcb1-dev \
            libdrm-dev libpulse-dev libsqlite3-dev libexpat1-dev libffi-dev \
            zlib1g-dev libbz2-dev liblzma-dev libzip-dev libpng-dev libjpeg-dev \
            libfreetype6-dev pkg-config automake libtool nasm ccache \
            python3-venv libgnutls28-dev libnss3-dev ninja-build clang lld \
            pigz gnupg jq rsync xz-utils

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9
        with:
          version: "v0.12.0"

      - name: Set Rust caching env vars
        run: |
          echo "SCCACHE_GHA_ENABLED=true" >> $GITHUB_ENV
          echo "RUSTC_WRAPPER=sccache" >> $GITHUB_ENV

      - name: Set C/C++ caching env var
        run: |
          echo "SCCACHE_GHA_ENABLED=true" >> $GITHUB_ENV

      - name: Run build
        env:
          SCCACHE_PATH: ${{ env.SCCACHE_PATH }}
        run: |
          make fetch
          sh -c "./scripts/check-patchfail.sh"
          make test-linux
          make all
          make check-fuzz
          echo "VERSION=$(cat version)" >> variables.env
          echo "RELEASE=$(cat release)" >> variables.env
          echo "BUILD_JOB_ID=${{ github.run_id }}" >> variables.env

      - name: sccache show-stats
        run: ${SCCACHE_PATH:-sccache} --show-stats || true

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: librewolf-build
          path: |
            librewolf-*.tar.xz
            librewolf-*.source.tar.gz
            librewolf-*.source.tar.gz.sha256sum
            librewolf-*.source.tar.gz.sha512sum
            librewolf-*.source.tar.gz.sig
            patchfail-fuzz.out
            variables.env
